@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

html{
  background: black;
  font-family: 'IBM Plex Sans', sans-serif;
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
  border: 0;
}

.strokeme{
  color: balck;
  text-shadow:
  -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;  
}

.aside-1{
  background-color: yellow;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

h1{
  font-weight: bold;
  font-size: 50px;
}
  
.header {
 background: tomato;
  text-align: center;
  width: 100%;
}
  
.footer {
  background: rgb(100, 216, 202);
}

/* Nav Bar */
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0px;
  width: 99%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}