@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

html{
  background: black;
  font-family: 'IBM Plex Sans', sans-serif;
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
  border: 0;
}

.strokeme{
  color: balck;
  text-shadow:
  -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;  
}

.wrapper {
  margin-top: 90px;
  display: flex;  
  flex-flow: wrap row;
  flex-wrap: wrap;
  font-weight: bold;
}

h1{
  font-weight: bold;
  font-size: 50px;
}
  
.wrapper > * {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
}
  
.header {
 background: tomato;
  text-align: center;
  width: 100%;
}
  
.footer {
  background: rgb(100, 216, 202);
}

/* Nav Bar */
.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0px;
  width: 99%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
  
@media all and (min-width: 400px) {
  .main    { order: 1; }
  .aside-1 { order: 2; }
  .footer  { order: 4; }
  .main    { order: 2; }
}

@media (max-width: 1000px) and (min-width: 0px) {
  .aside-1 { max-width: 100%; } 
  .main    { max-width: 100%; }
  .card    { max-width: 100%; }
}
  
@media (min-width: 1000px) {
    .main    { flex: 3 0px; }
    .card    { order: 2 ;}
    .main    { order: 2; }
    .footer  { order: 4; }
}